body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

#members-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
  gap: 20px; /* Espace entre les colonnes */
}

.member-column {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espace entre les boutons */
}

.task {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espace entre l'icône et le texte */
}

.task:disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}
.task-completed {
  font-size: 12px;
  color: #555;
  margin-left: 10px;
}

/* Couleurs des tâches */
.task-color-1 { background-color: #FF5733; } /* Rouge */
.task-color-2 { background-color: #33FF57; } /* Vert */
.task-color-3 { background-color: #3357FF; } /* Bleu */
.task-color-4 { background-color: #FF33A1; } /* Rose */